@keyframes chart-animation {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.chart-container {
  animation: chart-animation 2s ease-in-out;
}
.graph{
  
}

@media screen and (max-width: 1024px) {
  .graph {
    width: 100%;
  }
  
}
@media screen and (max-width: 768px) {
  .graph {
    width: 100%;
    height: 350px;
  }
}

@media screen and (max-width: 480px) {
  .graph {
    width: 100%;
    height: 200px;
  }
  
}